




<section class="flex  mt-14 xl:mt-0 min-h-screen justify-center items-center ">
<!-- spinner -->




    <form [formGroup]="DataRegisterUser" (ngSubmit)="getData(DataRegisterUser)"
        class="w-full  md:w-1/2  xl:w-1/3 2xl:w-1/4 mx-auto md:border md:border-inherit rounded-2xl p-6 md:p-9 md:shadow-md flex flex-col">


        <!-- logo -->
        <div class=" flex flex-col  justify-center items-center">
            <img class=" p-3 h-20" src="../../../assets/logoEcommarce.png" alt="">

            <h3 class=" whitespace-nowrap md:text-lg xl:text-xl font-bold ">Join us! Sign up to start your journey</h3>
        </div>

        <!-- spinner -->
         

<div *ngIf="IsloadingServices.IsLoading" class="items-center flex  w-full  justify-center  mt-4  ">

    <div role="status" class=" ">
        <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin fill-zinc-950" viewBox="0 0 100 101"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
            <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
        </svg>



    </div>
</div>
        
     

<!--notification successfully  -->
        <div  [innerText]="notification_Success ? 'Registration completed successfully' : ''"  [innerText]="notification_error ? 'email already exists' : ''"   [ngClass]="{
                    'scale-100':notification_Success || notification_error,
                    'bg-red-50':notification_error,
                    'text-red-700':notification_error,
                   
                    }"
            class="transition  duration-300 p-4 my-4  text-sm text-green-700 rounded-lg scale-0  bg-green-50   flex justify-center items-center whitespace-nowrap"
            role="alert" >
            <!-- <span class="font-medium">
                <svg class="w-6 h-6 text-green-700 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 11.917 9.724 16.5 19 7.5" />
                </svg>
        
            </span>  -->
        </div>





        <!-- name -->
        <div class="relative z-0 w-full mb-5 group">
            <input formControlName="name" type="text" name="name"
                [ngClass]="{'border-red-700':getName()?.dirty && getName()?.invalid }"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none   focus:outline-none focus:ring-0 focus:border-zinc-950 peer"
                placeholder="" />
            <label for="floating_email"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-zinc-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">name
            </label>
            @if(getName()?.dirty || getName()?.touched){
            @if(getName()?.errors?.['minlength']){
            <span class="text-red-700 text-sm ">min lentgh 3 letter</span>
            }
            @if(getName()?.errors?.['required']){
            <span class="text-red-700 text-sm ">name is required</span>
            }
            <!-- @if(getName()?.valid)
            {
            <span class="text-green-700 text-sm ">name is valid</span>
            } -->
            }



        </div>
    

        <!-- email -->
        <div class="relative z-0 w-full mb-5 group">
            <input formControlName="email" name="email" type="text"
                [ngClass]="{'border-red-700':getEmail()?.dirty && getEmail()?.invalid || notification_error}"
                class="block py-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 active:border-zinc-950 border-gray-300 appearance-none   focus:outline-none focus:ring-0 focus:border-zinc-950 peer"
                placeholder=" " />
            <label for="floating_email"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-zinc-950
              peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
                address</label>

            @if(getEmail()?.dirty || getEmail()?.touched){
            @if(getEmail()?.errors?.['pattern']){
            <span class="text-red-700 text-sm ">Invalid email format</span>
            }

            @if(getEmail()?.errors?.['required'])
            {
            <span class="text-red-700 text-sm ">Email is required </span>
            }
            @if(getEmail()?.errors?.['emailexite'])
            {
            <span class="text-red-700 text-sm ">Email already exists </span>
            }

            <!-- @if(getEmail()?.valid)
            {
            <span class="text-green-700 text-sm ">email is valid </span>
            } -->
            }


        </div>
        <!-- phoneNumber -->
        <div class="relative z-0 w-full mb-5 group">
            <input formControlName="phoneNumber" name="phoneNumber" type="text"
                [ngClass]="{'border-red-700':getphoneNumber()?.dirty && getphoneNumber()?.invalid || notification_error}"
                class="block py-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 active:border-zinc-950 border-gray-300 appearance-none   focus:outline-none focus:ring-0 focus:border-zinc-950 peer"
                placeholder=" " />
            <label for="floating_email"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-zinc-950
              peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone
                number</label>

            @if(getphoneNumber()?.dirty || getphoneNumber()?.touched){
          
            @if(getphoneNumber()?.errors?.['required'])
            {
            <span class="text-red-700 text-sm ">phoneNumber is required </span>
            }

             @if(getphoneNumber()?.errors?.['minlength']){
            <span class="text-red-700 text-sm">min lentgh 10 letter or number</span>
            }
     @if(getphoneNumber()?.errors?.['maxlength']){
<span class="text-red-700 text-sm">max lentgh 15 letter or number</span>
}
            }
            <!-- @if(getphoneNumber()?.errors?.['pattern']){
            <span class="text-red-700 text-sm ">Invalid Phonenmber format</span>
            } -->
           


        </div>


        <!-- passowrd -->
        <div class="relative z-0 w-full mb-5 group">
            <input formControlName="password" type="password"
                [ngClass]="{'border-red-700':getPassword()?.dirty && getPassword()?.invalid}"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-zinc-950 peer"
                placeholder=" " />
            <label for="floating_password"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-zinc-950  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>


            @if(getPassword()?.dirty || getPassword()?.touched){
            @if(getPassword()?.errors?.['required']){
            <span class="text-red-700 text-sm">password is required</span>
            }
           
            <!-- @else if(getPassword()?.valid)
             {
            <span class="text-green-700 text-sm">password valid</span>
            }  -->
            }
            @if(getPassword()?.errors?.['minlength']){
            <span class="text-red-700 text-sm">min lentgh 8 letter or number</span>
            }
        </div>
        <!-- confirm password -->
        <div class="relative z-0 w-full mb-5 group">
            <input formControlName="Confirm_Password" type="password" name="repeat_password"
                [ngClass]="{'border-red-700':getConfirmPassword()?.dirty && getConfirmPassword()?.invalid}"
                id="floating_repeat_password"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-zinc-950 peer"
                placeholder=" " />
            <label for="floating_repeat_password"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-zinc-950  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm
                password</label>

            @if(getConfirmPassword()?.dirty || getConfirmPassword()?.touched){

            @if(DataRegisterUser.errors?.['ConfirmPassNotMatch']){
            <span class="text-red-700 text-sm">Password do not match</span>
            }
            @else if (getConfirmPassword()?.errors?.['required']) {
            <span class="text-red-700 text-sm">Confirm Password required</span>
            }
            @if(DataRegisterUser.valid){
            <span class="text-green-700 text-sm">Password do match</span>
            }

            }

        </div>


  
   
       


      

        <button type="submit"
            class="text-white bg-zinc-600 hover:bg-zinc-950 transition duration-300 focus:ring-4 focus:outline-none focus:bg-zinc-950  focus:ring-zinc-950 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Sign up
        </button>

  
    </form>


</section>